@model ELibrary.Web.ViewModels.User.AddBookViewModel

@{
    ViewData["Title"] = "Добавяне на нова книга";
}
<hr />
<form asp-action="AddBook" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <p>@ViewData["message"]</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Logo" class="control-label">Лого</label>
                <input asp-for="Logo" class="form-control" accept="image/*" />
            </div>
            <!--<div class="form-group row">
                <label asp-for="PDF" class="control-label"></label>
                <input asp-for="PDF" class="form-control" />
            </div>-->

        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="CatalogNumber" class="control-label">Каталожен номер</label>
                <input asp-for="CatalogNumber" class="form-control" />
                <span asp-validation-for="CatalogNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Title" class="control-label">Заглавие</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Author" class="control-label">Автор</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="GenreId" class="control-label">Жанр</label>
                <select asp-for="GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <div class="row">
                    <div class="col-md-9">
                        <input asp-for="Price" class="form-control" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.10" value="0.00" />
                    </div>
                    <div class="col-md-3">
                        <select asp-for="Currency" class="form-control">
                            @foreach (var currencyValue in Model.Currencys)
                            {
                                <option value="@currencyValue">@currencyValue</option>
                            }
                        </select>
                    </div>
                </div>

                <span asp-validation-for="Price" class="text-danger"></span>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea asp-for="Review" class="form-control" rows="10" cols="100">
    
                </textarea>
                <span asp-validation-for="Review" class="text-danger"></span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea asp-for="Review" class="form-control" rows="10" cols="100">
    
                </textarea>
                <span asp-validation-for="Review" class="text-danger"></span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="WhereIsBook" class="control-label">Къде се намира книгата в библиотеката:</label>
                <textarea asp-for="WhereIsBook" class="form-control" rows="10" cols="100">
    
                </textarea>
                <span asp-validation-for="WhereIsBook" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <input type="submit" value="Добави" class="col-md-1 btn btn-primary" />

    </div>
</form>

<script>
    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }
</script>

