@model ELibrary.Web.ViewModels.User.AddBookViewModel

@{
    ViewData["Title"] = "Edit new book";
}

<h1>Edit book</h1>

<h4>Edit book</h4>
<h4>@ViewData["message"]</h4>

<hr />
<form asp-action="EditBook">

    <div class="row">
        <div class="col-md-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="LogoPhoto" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="EFormat" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CatalogNumber" class="control-label"></label>
                <input asp-for="CatalogNumber" class="form-control" />
                <span asp-validation-for="CatalogNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                add
                <img src="#" alt="Alternate Text" width="200" />

            </div>

            <div class="form-group">

                <label asp-for="Price" class="control-label"></label>
                <div class="row">
                    <div class="col-md-9">
                        <input asp-for="Price" class="form-control" type="number" onchange="setTwoNumberDecimal()" min="0" step="0.10" value="0.00" />
                    </div>
                    <div class="col-md-3">
                        <select asp-for="Currency" class="form-control">
                            @foreach (var currencyValue in Model.Currencys)
                            {
                                <option value="@currencyValue">@currencyValue</option>
                            }
                        </select>
                    </div>
                </div>

                <span asp-validation-for="Price" class="text-danger"></span>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea asp-for="Review" class="form-control" rows="10" cols="100">
    
                </textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="WhereIsBook" class="control-label"></label>
                <textarea asp-for="WhereIsBook" class="form-control" rows="10" cols="100">
    
                </textarea>
                <span asp-validation-for="WhereIsBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }
</script>

