
@{
    ViewData["Title"] = "Профил";
}

@model ELibrary.Web.ViewModels.CommonResurces.ProfilViewModel
    <!-- ***** Contact Area Start ***** -->
    <section class="dento-contact-area mt-50 mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (Model.AvatarLocation != null)
                    {
                        <img src="@Model.AvatarLocation" alt="Alternate Text" class="google-maps mb-100" />
                    }
                    else
                    {
                        <img src="~/img/Avatars/defaultAvatar.png" alt="Avatar" class="google-maps mb-100" />
                    }
                </div>
            </div>

            <div class="row">
                <!-- Contact Information -->
                <div class="col-12 col-md-4">
                    <div class="contact-information">
                        <h5>Име</h5>
                        <p> @Model.FirstName</p>

                        <h5>Фамилия</h5>
                        <p>@Model.LastName</p>

                        <h5>Email</h5>
                        <p>@Model.Email</p>
                        <h5>Смени аватара</h5>
                        <p>
                            <form asp-action="Profile" asp-route-returnUrl="@ViewData["URL"]" enctype="multipart/form-data">
                         
                                <div class="col-md-12">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group row">
                                        <input asp-for="Photo" class="form-control" accept="image/*" />
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <span class="col-md-5"></span>

                                    <input type="submit" value="Смени аватара" asp-action="ReserveBook" class="btn btn-primary col-md-7" style="background:white;color:blue" />

                                </div>
                            </form>
                        </p>
                      

                        <h5>Смяна на парола от</h5>
                        <p class="mb-0">
                            <form asp-action="Profile" asp-route-returnUrl="@ViewData["URL"]">
                                @if (ViewData["message"] != null)
                                {
                                    <div class="alert alert-info" role="alert">

                                        @ViewData["message"]
                                    </div>
                                }
                                <div class="form-group row">
                                    <label asp-for="ResetPasswordViewModel.OldPassword" class="control-label col-md-7" style="color:white"></label>
                                    <input asp-for="ResetPasswordViewModel.OldPassword" class="form-control col-md-5" />
                                    <span asp-validation-for="ResetPasswordViewModel.OldPassword" class="text-danger col-md-12"></span>
                                </div>

                                <div class="form-group row">
                                    <label asp-for="ResetPasswordViewModel.NewPassword" class="control-label col-md-7" style="color:white"></label>
                                    <input asp-for="ResetPasswordViewModel.NewPassword" class="form-control col-md-5" />
                                    <span asp-validation-for="ResetPasswordViewModel.NewPassword" class="text-danger col-md-4"></span>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="ResetPasswordViewModel.ConfirmNewPassword" class="control-label col-md-7" style="color:white"></label>
                                    <input asp-for="ResetPasswordViewModel.ConfirmNewPassword" class="form-control col-md-5" />
                                    <span asp-validation-for="ResetPasswordViewModel.ConfirmNewPassword" class="text-danger col-md-4"></span>
                                </div>

                                <div class="form-group row">
                                    <span class="col-md-5"></span>

                                    <input type="submit" value="Смени паролата" asp-action="ChangePassword" class="btn btn-primary col-md-7" style="background:white;color:blue" />

                                </div>
                            </form>
                        </p>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-12 col-md-8">
                    <div class="section-heading">
                        <h2>Информация за активноста ви</h2>
                        <div class="line"></div>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <div class="col-12 col-md-12">
                                    <div class="row">
                                        @{
                                            var index = 1;
                                        }
                                        @foreach (var data in Model.ActivityData)
                                         {
                                            <div class="col-5 bg-gradient-overlay">
                                                <div class="container">
                                                    <div class="row align-items-center">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-md-9">

                                                                </div>
                                                                <div class="col-md-3">
                                                                    <h5 style="color:white">@data.Value</h5>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h5 style="color:white">@data.Key</h5>
                                                                    <br/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            if (index % 2 == 0)
                                            {
                                                <div class="col-12">
                                                    <br />

                                                </div>

                                                }
                                            else
                                            {
                                            <div class="col-2">

                                            </div>
                                            }
                                            index++;

                                            }
                                        </div>

                                    </div>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </section>
    <!-- ***** Contact Area End ***** -->

